<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.bishe.demo.dao.UserMapper">

    <select id="MdPassword" resultType="String">
        select MD5(#{upassword})
    </select>

    <select id="queryUserByUid2phone" resultType="com.yj.bishe.demo.entity.User">
        select * from user where uid = #{uid2phone} or uphone = #{uid2phone}
    </select>

</mapper>
